.description-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 25px;
}

.description-sec{
  background-color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 40%;
  min-height: 200px;
  height: auto;
  display: flex;
  border: solid 10px;
  border-radius: 25px;
  border-color: lightcoral;
  padding: 25px;
}

.description-sec-1 {
  flex: 50%;
  height: auto;
}

.description-sec-2 {
  flex: 40%;
  height: auto;
}

.video{
  width: 100%;
  height: auto;
}