.flexbox-container {
  display: flex;
  justify-content: space-around;
  background: url(../Pictures/game.png);
}
.flexbox-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
  background-color: #f5eeee;
}

.flexbox-item-1 {
  min-height: 100px;
}

.flexbox-item-2 {
  min-height: 100px;
}
s .flexbox-item-3 {
  min-height: 100px;
}

.flexbox-item-4 {
  min-height: 100px;
}
