.flexbox-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flexbox-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  padding: 60px;
  justify-content: center;
  align-items: center;
  border: solid 10px;
  border-color: lightcoral;
  border-radius: 25px;
  background-color: #f5eeee;
}

.item {
  height: 15em;
  width: auto;
  border-radius: 1000px;
}
