.main-footer {
  display: flex;
  color: white;
  background-color: rgb(0, 132, 255);
  padding-top: 1em;
  position: center;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
